$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$row-height: 24px;
$dashboard-header-height: 64px;

$border-color: #c0c0c0;
$primary-color: #3c74ff;

$info-cell-width: 40px;
$cell-width: 120px;