@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";

@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";
@import "loader";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Robot;
  font-size: 12px;
}

.excel {
  position: relative;
  color: #888;
  max-width: 100%;
  height: 100%;
  font-style: 28rem;
}
